# maven
target
.class
classes

# log
log
logs
*.log
nohup.out

# mac
.DS_Store

# idea
.idea
*.iml
.env*

# eclipse
.settings
.classpath
.project
.metadata
RemoteSystemsTempFiles

# maven
.mvn

# tomcat
Servers

# vim
*.swp

# python
venv

# vue
node_modules
/dist
dist*.tar.gz
