# db
DB_URL=jdbc:mysql://YOUR_IP:YOUR_PORT/YOUR_DB_NAME?useUnicode=true&characterEncoding=utf-8&useSSL=false&zeroDateTimeBehavior=convertToNull
DB_USERNAME=YOUR_USERNAME
DB_PASSWORD=YOUR_PASSWORD
DB_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver

# redis
REDIS_HOST=YOUR_HOST
REDIS_PORT=YOUR_PORT
REDIS_PASSWORD